form {
    margin: 15px;
    padding: 30px;
    padding-left: 10px;
    border: 1px solid black;
    background-color: blue;
    border-radius: 5px;
    width: 300px;
    color: #ffffff;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  button:hover {
    background-color: #9eb300;
  }
  